@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#070A0F] text-[#E6EAF2];
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #070A0F;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #1E293B;
    border-radius: 9999px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #9AA4B2;
  }
}